$navbar-default-bg: #ffffff;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body { padding-top: 70px; }

h5{
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo{
  float: left;
  font-size: 1.9em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.article-meta-details{
  margin-top: 15px;
}

.article-actions{
  padding-top: 5px;
}

.description{
  margin-top: 0;
}

.article-title{
  font-weight: bold;
  font-size: 1.5em;
}

.article-body{
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.well{
  background-color: white;
}

.listing{
  list-style: none;
  padding-left: 0;
}

footer{
  margin-top: 45px;
  padding-top: 5px;
}
