<div class="container">
  <footer class="footer">
   <section class="module-small bg-light">
		
			<div class="container">
		
				<div class="row">
					<div class="col-sm-3">
						<!-- IMAGE OR SIMPLE TEXT -->
					Alpha-Blog Logo
					</div>
				</div>
		
				<div class="row m-t-40">
		
					<div class="col-sm-3">
						<h5 class="font-alt m-t-0 m-b-20">&nbsp;</h5>
						<p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.</p>
						<p><a href="#">Who We Are →</a></p>
					</div>
		
					<div class="col-sm-3">
						<h5 class="font-alt m-t-0 m-b-20">Connect</h5>
						Email: somecompany@example.com
						<br>
						Phone: +1 234 567 89 10
					</div>
		
					<div class="col-sm-3">
						<h5 class="font-alt m-t-0 m-b-20">Useful links</h5>
						<ul class="list-unstyled">
							<li><a href="about-1.html">About</a></li>
							<li><a href="service-1.html">Services</a></li>
							<li><a href="portfolio-white-hover.html">Portfolio</a></li>
							<li><a href="faq-1.html">FAQ</a></li>
						</ul>
					</div>
		
					<div class="col-sm-3">
						<h5 class="font-alt m-t-0 m-b-20">Follow us</h5>
						<ul class="list-unstyled">
							<li><a href="https://twitter.com/">Twitter</a></li>
							<li><a href="https://www.facebook.com/">Facebook</a></li>
							<li><a href="https://dribbble.com/">Dribbble</a></li>
						</ul>
					</div>
		
				</div>
		
			</div>
		
		</section>
    <hr>
    <small>
    <center>&copy; RubyRain, All Rights Reserved</center>
    </small>
  </footer>
</div>